@page "/counter"

<PageTitle>Nissan GTR</PageTitle>

<h1>Nissan GTR</h1>

<img height= "600" src="https://ocdn.eu/pulscms-transforms/1/jLQktkpTURBXy81MjQ5YmZjYzllODQyZjhiZjA3ZGRlNGFiNTZjNWJlYy5qcGeRlQPMQcx5zQ4rzQf3" />
